{
  "env": {
    "browser": true
  },
  "parserOptions": { "parser": "babel-eslint" },
  "extends": ["plugin:vue/essential", "airbnb-base"],
  "plugins": ["html", "vue"],
  "settings": {
    "html/html-extensions": [".html"],
    "import/resolver": "webpack"
  },
  "rules": {
    "brace-style": [2, "stroustrup", {
      "allowSingleLine": true
    }],
    "func-names": 0,
    "no-console": 0,
    "comma-dangle": [2, "never"],
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "object-curly-newline": [2, {
      "multiline": true
    }],
    "no-param-reassign": 0,
    "no-return-assign": [2, "except-parens"],
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": 0,
    "consistent-return": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "no-multi-assign": 0,
    "indent": "off",
    "indent-legacy": ["error", 2],
    "no-nested-ternary": 0,
    "vue/require-v-for-key": 0,
    "no-await-in-loop": 0,
    "prefer-destructuring": 0,
    "array-callback-return": 0,
    "no-new": 0
  }
}
